* {
    margin: 0;
    padding: 0;
}

.texts {
    cursor: not-allowed;
    background-color: rgb(88, 88, 88);
    height: 4.0em;
    color: red;
    display: flex;
    justify-content: space-around;
}

.links {
    font-size: 3em;
    order: 2;
}

.links2 {
    font-size: 3em;
    order: 3;
}

.links3 {
    font-size: 3em;
    order: 1;
}