/* imports */ 

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,300;1,200;1,700&family=Iceberg&family=Kite+One&family=Lilita+One&family=Mina:wght@700&family=Open+Sans:ital,wght@1,300&family=Playpen+Sans:wght@300;400&family=Roboto:ital,wght@0,900;1,900&family=Rubik:ital@1&family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo+Play:wght@900&family=Playpen+Sans:wght@300;400&family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo+Play:wght@800;900&family=Exo+2:ital,wght@0,100;0,300;1,200;1,700&family=Iceberg&family=Kite+One&family=Playpen+Sans:wght@300;400&family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,300;1,200;1,700&family=Iceberg&family=Kite+One&family=Playpen+Sans:wght@300;400&family=Rubik:ital@1&family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,300;1,200;1,700&family=Iceberg&family=Kite+One&family=Lilita+One&family=Mina:wght@700&family=Playpen+Sans:wght@300;400&family=Roboto:ital,wght@0,900;1,900&family=Rubik:ital@1&family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,300;1,200;1,700&family=Iceberg&family=Kite+One&family=Lilita+One&family=Mina:wght@700&family=Playpen+Sans:wght@300;400&family=Roboto:ital,wght@0,900;1,900&family=Rubik:ital@1&family=Tilt+Neon&family=Trade+Winds&display=swap');

/* Page's size */

* {
    margin: 0;
    padding: 0;
}

/* */ 

html {
    scroll-behavior: 1.0ms;
}

/* background image */

body {
    height: 730px;
    background: url(Assets/244438ac7a68a9365e8215b342b805b8.jpeg) no-repeat;
    background-size: cover;
}

/* up buttons */

.buttons {
    align-items: center;
    height: 4.5em;
    display: flex;
    justify-content: space-around;
}

h1 {
    user-select: none;
    color: #fff;
    font-family: 'Cairo Play', sans-serif;  
    font-size: 3.0em;
    margin-right: 20em;
}

.ll {
    font-family: 'Exo 2', sans-serif;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5em;
}

.ll:hover {
    color: rgb(66, 66, 66);
    padding: 5px;
    border-radius: 10px;
    border-color: red;
    background-color: rgb(70, 209, 255);
    border: 1px solid;
    box-shadow: 0px 0px 20px 5px rgb(70, 209, 255);
    transition: all ease-out 150ms;
}


/* paragraph */

.paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 600px;
}

h3 {
    border-radius: 90px;
    padding: 10px;
    background-color: rgba(0,0,0,0.2);
    color: #fff;
    font-family: 'Cairo Play', sans-serif;
    font-family: 'Playpen Sans', cursive;
    font-size: 1.6em;
    box-shadow: 0 0 5px 0 black;
}

h3:hover {
    background: linear-gradient(90deg, rgb(255,0,0), rgb(255,125,0),rgb(0,255,124));
    transition: all ease-in-out 200ms;
}