* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 200vh;
}

.container {
    border-radius: 0.5rem;
    margin: 50px auto;
    width: 98%;
    height: 194vh;
    background-color: rgb(217, 217, 217);
}

h1, p {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

h1 {
    padding-top: 30px;
    font-size: 3rem;
}

p {
    padding-bottom: 15px;
}

/* box section */

.box {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 75vh;
    background-color: white;
    margin: 0 auto;
    border-radius: 5px;
}

h2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

ul {
    width: 500px;
    margin-left: 500px;
}

li {
    padding: 5px;
}

h2 {
    margin-top: 33px;
}

a {
    text-decoration: underline;
    text-decoration-thickness: 2.0px;
    color: black;
    margin-left: 4px;
}


img {
    border-radius: 20px;
    position: absolute;
    width: 900px;
    opacity: 44%;
}

.picture-text {
    text-align: center;
    width: 777px;
    color: black;
    font-size: 4rem;
}

img:hover  {
    opacity: 100%;
    transition: all ease-in-out 200ms;
}