@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');


* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 11, 22);
}

.button {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: fixed;
    border-radius: 0.5rem;
    width: 222px;
    height: 44px;
    background-color: whitesmoke;
}

.button::before {
    z-index: 1;
    border-radius: 0.2rem;
    padding: 5px;
    content: '';
    position: absolute;
    background: linear-gradient(rgb(111,111,222), rgb(0,11,22));
    width: 220px;
    height: 40px;
}

.button::after {
    position: absolute;
    content: '';
    width: 300px;
    height: 300px;
    background: linear-gradient(rgb(255,0 , 0),blue);
    animation: submit 5s linear infinite;
}

@keyframes submit {
    100%{transform: rotate(360deg);}
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 227px;
    height: 49px;
    z-index: 2;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Smooch', cursive;
}

.button:hover {
    width: 227px;
    height: 49px;
    box-shadow: 0 10px 222px rgb(255, 255, 255);
    transition: all ease-in-out 200ms;
}

.button:hover::before {
    background: rgb(0, 33, 90);
    width: 222px;
    height: 44px;
    transition: all ease-in-out 200ms;
}

.button:hover::after {
    background: rgb(255, 255, 255);
}

.shadow {
    z-index: 5;
    background-color: white;
    position: absolute;
    width: 230px;
    height: 250px;
    top: 370px;
    transform: rotateX(80deg);
    border-radius: 180px;
    filter: blur(70px);
}

.button:hover + .shadow {
    background-color: rgba(153, 153, 153, 0.6);
    transition: all ease-in-out 200ms;
}

.box {
    margin-left: -900px;
    width: 100px;
    height: 100px;
    background-color: white;
    animation: spin 3s linear 1;
    animation-fill-mode: forwards;
}

@keyframes spin {
    0%{transform: translateX(0px) rotateZ(0deg);}
    33%{transform: translateX(150px) rotateZ(50deg);}
    33%{transform: translateX(-150px) rotateZ(-150deg);}
    100%{transform: translateX(0px) rotateZ(0deg);}
}