* {
    padding: 0;
    margin: 0;
}

body {
    background: url(/Assets/special/img2.akspic.ru-geometricheskij_uzor-uzor-dizajn-iskusstvennyj_intellekt-purpur-4320x7680.jpg) no-repeat;
    background-size: cover;
}

.container {
    background: blur(15px);
}

/* pictures top and left margins */

.image1 {
    position: absolute;
    margin-top: 520px;
    margin-left: 50px;
}

.image2 {
    position: absolute;
    margin-top: 520px;
    margin-left: 100px;
}

.image3 {
    position: absolute;
    margin-top: 520px;
    margin-left: 150px;
}

.image4 {
    position: absolute;
    margin-top: 520px;
    margin-left: 200px;
}

.image5 {
    position: absolute;
    margin-top: 520px;
    margin-left: 250px;
}

.image6 {
    position: absolute;
    margin-top: 520px;
    margin-left: 300px;
}

.image7 {
    position: absolute;
    margin-top: 520px;
    margin-left: 350px;
}

.image8 {
    position: absolute;
    margin-top: 520px;
    margin-left: 400px;
}

.image9 {
    position: absolute;
    margin-top: 520px;
    margin-left: 450px;
}

/* Rotation and shadow of the pictures */



.image1, .image2, .image3, .image4, .image5, .image6, .image7, .image8, .image9  {
    display: flex;
    transform: rotate3d(45,45,180,60deg);
    box-shadow: 11px 11px  11px 0 black;
    border-radius: 10px;
}

/* Active  */

.image1:active {
    width: 666px;
    height: 400px;
    margin-left: 750px;
    margin-top: 100px;
    transform: rotate3d(0,0,0,0deg);
    transition: all ease-in-out 0.7s;
}

.image2:active {
    width: 666px;
    height: 400px;
    margin-left: 750px;
    margin-top: 100px;
    transform: rotate3d(0,0,0,0deg);
    transition: all ease-in-out 0.7s;
}

.image3:active {
    width: 666px;
    height: 400px;
    margin-left: 750px;
    margin-top: 100px;
    transform: rotate3d(0,0,0,0deg);
    transition: all ease-in-out 0.7s;
}

.image4:active {
    width: 666px;
    height: 400px;
    margin-left: 750px;
    margin-top: 100px;
    transform: rotate3d(0,0,0,0deg);
    transition: all ease-in-out 0.7s;
}

.image5:active {
    width: 666px;
    height: 400px;
    margin-left: 750px;
    margin-top: 100px;
    transform: rotate3d(0,0,0,0deg);
    transition: all ease-in-out 0.7s;
}

.image6:active {
    width: 666px;
    height: 400px;
    margin-left: 750px;
    margin-top: 100px;
    transform: rotate3d(0,0,0,0deg);
    transition: all ease-in-out 0.7s;
}

.image7:active {
    width: 666px;
    height: 400px;
    margin-left: 750px;
    margin-top: 100px;
    transform: rotate3d(0,0,0,0deg);
    transition: all ease-in-out 0.7s;
}

.image8:active {
    width: 666px;
    height: 400px;
    margin-left: 750px;
    margin-top: 100px;
    transform: rotate3d(0,0,0,0deg);
    transition: all ease-in-out 0.7s;
}

.image9:active {
    width: 666px;
    height: 400px;
    margin-left: 750px;
    margin-top: 100px;
    transform: rotate3d(0,0,0,0deg);
    transition: all ease-in-out 0.7s;
}

/* Hover */

.image1:hover {
    margin-top: 500px;
    box-shadow: 8px 8px 25px 0 mintcream;
    transition: all ease 200ms;
}

.image2:hover {
    margin-top: 500px;
    box-shadow: 8px 8px 25px 0 rgb(255,100,255);
    transition: all ease 200ms;
}

.image3:hover {
    margin-top: 500px;
    box-shadow: 8px 8px 25px 0 rgb(253, 100, 100);
    transition: all ease 200ms;
}

.image4:hover {
    margin-top: 500px;
    box-shadow: 8px 8px 25px 0 rgb(180, 135, 0);
    transition: all ease 200ms;
}

.image5:hover {
    margin-top: 500px;
    box-shadow: 8px 8px 25px 0 rgb(40, 40, 40);
    transition: all ease 200ms;
}

.image6:hover {
    margin-top: 500px;
    box-shadow: 8px 8px 25px 0 rgb(255, 77, 40);
    transition: all ease 200ms;
}

.image7:hover {
    margin-top: 500px;
    box-shadow: 8px 8px 25px 0 rgb(111, 64, 11);
    transition: all ease 200ms;
}

.image8:hover {
    margin-top: 500px;
    box-shadow: 8px 8px 25px 0 rgb(0, 50, 255);
    transition: all ease 200ms;
}

.image9:hover {
    margin-top: 500px;
    box-shadow: 8px 8px 25px 0 rgb(255, 200, 10);
    transition: all ease 200ms;
}