@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo+Play:wght@1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, rgb(22, 22, 22), rgb(80,80,120));
    background-size: cover;
    
}

h1, p {
    color: white;
    display: flex;
    justify-content: center;
}

a {
    color: white;
    margin: 0 7px;
}

h1 {
    padding: 15px;
    font-size: 2.7rem;
}

p {
    font-size: 1.5rem;
    padding-bottom: 50px;
}

::-webkit-input-placeholder {
    font-family: 'Nunito', sans-serif;
}

.container {
    font-family: 'Nunito', sans-serif;
    background: blur(200px);
    margin-left: 500px;
    padding: 20px;
    position: absolute;
    width: 500px;
    background-color: rgba(50, 89, 205, 0.367);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

label, legend {
    display: block;
    color: white;
    font-size: 1.5rem;
}

input[type="radio"] {
    vertical-align: middle;
}

#name, #email, #number {
    border-radius: 7px;
    border: 0;
    padding: 5px;
    min-width: 500px;
    height: 25px;
    display: block;
}


fieldset {
    border: 0;
}

select {
    border-radius: 7px;
    padding: 11px;
    min-width: 500px;
    display: block;
}

#name-label, #email-label, #number-label {
    margin: 15px 9px;
    margin-top: 10px;
}


.text-box, #submit {
    min-width: 500px;
}

#submit {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 11px;
    margin-top: 15px;
    border: 0;
    border-radius: 3px;
    height: 44px;
}

.role {
    margin: 10px 15px;
}

.recommend {
    margin: 10px 15px;
}

.feature {
    margin: 10px 15px;
}

.options {
    margin: 15px 15px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.submit {
    font-family: 'Nunito', sans-serif;
    color: yellowgreen;
    margin: 15px 15px;
    color: white;
    font-size: 1.3rem;
}

.text-box {
    margin: 15px 5px;
}

option {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
}

h1 {
    font-family: 'Cairo Play', sans-serif;
    user-select: none;
}

p {
    font-family: 'Chakra Petch', sans-serif;
}

/* Shadow */