label {
    padding: 50px;
    display: block;
    background-color: yellowgreen;
    text-decoration: underline;
}

.one {
    vertical-align: text-bottom;
}


input [type="email"] {
    color: red;
}

::-webkit-input-placeholder {
    color: red;
}