* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #575757;
}

label {
    display: block;
}

#email {
    margin-left: 63px;
    padding: 5px;
}

#password {
    margin-left: 40px;
    padding: 5px;
    margin-top: 5px;
}

.container {
    color: white;
    position: absolute;
    text-align: center;
}

.container {
    margin: 260px 40%;
}

input {
    border-radius: 5px;
    border: 0 solid;
}

/* Reg text */

h1 {
    display: block;
    padding-bottom: 50px;
}

h1 {
    filter: drop-shadow(-1px 1px 7px rgb(0, 225, 255));
}

/* submit button */

.button {
    margin-top: 10px;
    padding: 5px;
}