/* imports */

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,300;1,200;1,700&family=Iceberg&family=Kite+One&family=Lilita+One&family=Playpen+Sans:wght@300;400&family=Roboto:ital,wght@0,900;1,900&family=Rubik:ital@1&family=Tilt+Neon&display=swap');

/* Basic */ 

* {
    margin: 0;
    padding: 0;
}

/* Body */

body {
    background-image: url(Assets/6449417742.jpg);
}

/* */ 

h1 {
    font-family: 'Exo 2', sans-serif;
font-family: 'Iceberg', sans-serif;
font-family: 'Kite One', sans-serif;
font-family: 'Lilita One', sans-serif;
font-family: 'Playpen Sans', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
    font-family: 'Tilt Neon', sans-serif;
    color: aliceblue;
}

/* */

.exp {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: rgb(70, 70, 70);
}

/* */ 

.lists {
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: last baseline;
}

/* pics texts */

.pic1 {
    display: flex;
}

.pic2 {
    display: flex;
}

.pic3 {
    display: flex;
}

/*  pictures  */

