* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(200,200,200);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: yellowgreen;
    width: 40%;
    height: 600px;
}

.box-up {
    opacity: 50%;
    margin: 80px;
    background-color: rgb(70, 70, 70);
    width: 150px;
    height: 150px;
    transform: rotate(-130deg) skewY(-50deg);
}

.box-down {
    opacity: 50%;
    position: absolute;
    margin: 350px;
    background-color: rgb(70, 70, 70);
    width: 150px;
    height: 150px;
    transform: rotate(-130deg) skewY(-50deg);
}

/* Back and front walls*/

.wall-one {
    margin-left: 114px;
    z-index: -1;
    margin-top: 107px;
    position: absolute;
    background-color: white;
    width: 233px;
    height: 270px;
}

.wall-two {
    opacity: 50%;
    margin-left: -115px;
    margin-top: 203px;
    position: absolute;
    background-color: white;
    width: 233px;
    height: 270px;
}