/* */

* {
    padding: 0;
    margin: 0;
}

/* */

.all {
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: violet;
}

.a,.b,.c {
    width: 150px;
    height: 150px;
    border: 2px solid;
    background-color: yellowgreen;
}

