@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@600&family=Exo+2:ital,wght@0,100;0,300;1,200;1,700&family=Fira+Sans&family=Iceberg&family=Kite+One&family=Lilita+One&family=Mina:wght@700&family=Open+Sans:ital,wght@1,300&family=Playpen+Sans:wght@300;400&family=Roboto:ital,wght@0,900;1,900&family=Rubik:ital@1&family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@600&family=Exo+2:ital,wght@0,100;0,300;1,200;1,700&family=Fira+Sans&family=Iceberg&family=Kite+One&family=Lilita+One&family=Mina:wght@700&family=Montserrat&family=Open+Sans:ital,wght@1,300&family=Playpen+Sans:wght@300;400&family=Roboto:ital,wght@0,900;1,900&family=Rubik:ital@1&family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@600&family=Exo+2:ital,wght@0,100;0,300;1,200;1,700&family=Fira+Sans&family=Iceberg&family=Kite+One&family=Lilita+One&family=Mina:wght@700&family=Montserrat&family=Open+Sans:ital,wght@1,300&family=Playpen+Sans:wght@300;400&family=Roboto:ital,wght@0,900;1,900&family=Rubik:ital@1&family=Salsa&family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@600&family=Exo+2:ital,wght@0,100;0,300;1,200;1,700&family=Fira+Sans&family=Iceberg&family=Kite+One&family=Lilita+One&family=Mina:wght@700&family=Montserrat&family=Open+Sans:ital,wght@1,300&family=Playpen+Sans:wght@300;400&family=Racing+Sans+One&family=Roboto:ital,wght@0,900;1,900&family=Rubik:ital@1&family=Salsa&family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Edu+TAS+Beginner:wght@600&family=Exo+2:ital,wght@0,100;0,300;1,200;1,700&family=Fira+Sans&family=Iceberg&family=Kite+One&family=Lilita+One&family=Mina:wght@700&family=Montserrat&family=Open+Sans:ital,wght@1,300&family=Playpen+Sans:wght@300;400&family=Racing+Sans+One&family=Roboto:ital,wght@0,900;1,900&family=Rubik:ital@1&family=Salsa&family=Tilt+Neon&display=swap');
/* */

* {
    padding: 0;
    margin: 0;
}

/* */

body {
    padding: 100px;
    background-image: url(https://top-fon.com/uploads/posts/2023-02/1675517294_top-fon-com-p-krutoi-fon-dlya-prezentatsii-42.jpg);
    background-size: cover;
}

.container {
    padding: 10px;
    height: 950px;
    width: 900px;
    border: 2px solid;
    border-color: antiquewhite;
    border-radius: 15px;
    margin: auto;
    margin-top: 3%;
    backdrop-filter: blur(22px);
}

.inside-box {
    color: aliceblue;
}

.name {
    font-family: 'Playpen Sans', cursive;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 1.5em;
}

.link {
    color: #fff;
    text-decoration: none;
}

.name::after {
    padding: 5px;
    color: #fff;
    content: 'Contact : +998 99 779 49 48';
    align-items: center;
    display: block;
    position: absolute;
    border: 2px solid;
    width: 175px;
    transform: scale(0);
    transition: transform ease-out 200ms;
    border-radius: 15px;
    border-color: darkorange;
    margin-left: 535px;
    font-size: 0.5em;
    background-color: rgba(25, 31, 31, 0.425);
    cursor: pointer;
}

.name:hover::after {
    transform: scale(1);
}

/* Below section */

a {
    text-decoration: none;
    color: #fff;
}

h5 {
    font-family: 'Exo 2', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Iceberg', sans-serif;
    font-family: 'Kite One', sans-serif;
    font-family: 'Lilita One', sans-serif;
    font-family: 'Mina', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playpen Sans', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    margin-top: 30px;
    font-size: 2.0em;
    display: flex;
    justify-content: center;
    user-select: none;
}

.a {
    margin-left: -8px;
}

.c {
    margin-left: 10px;
}

.a, .b, .c {
    font-size: 1.5em;
    margin-top: 85px;
    display: flex;
    justify-content: center;
    font-family: 'Edu TAS Beginner', cursive;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Iceberg', sans-serif;
    font-family: 'Kite One', sans-serif;
    font-family: 'Lilita One', sans-serif;
    font-family: 'Mina', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playpen Sans', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Salsa', cursive;
}

.a::before {
    font-size: 1em;
    color: rgb(255, 255, 255);
    content: '1';
    position: absolute;
    left: 380px;
    background: rgb(255, 255, 255);
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 90px;
    border: 2px solid;
    border-color: rgb(255, 2, 2);
    margin-left: -20px;
    margin-top: -10px;
    background-color: #22121269;
}

.b::before {
    font-size: 1em;
    color: rgb(255, 255, 255);
    content: '2';
    position: absolute;
    left: 380px;
    background: rgb(255, 255, 255);
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 90px;
    border: 2px solid;
    border-color: rgb(255, 2, 2);
    margin-left: -20px;
    margin-top: -10px;
    background-color: #22121269;
}

.c::before {
    font-size: 1em;
    color: rgb(255, 255, 255);
    content: '3';
    position: absolute;
    left: 380px;
    background: rgb(255, 255, 255);
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 90px;
    border: 2px solid;
    border-color: rgb(255, 2, 2);
    margin-left: -20px;
    margin-top: -10px;
    background-color: #22121269;
}

/* */

hr {
    margin-top: 50px;
}

/* */

.logo-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

.l1 {
    border: 1px solid;
    border-color: turquoise;
    border-radius: 20px;
    background-color: rgba(39, 41, 36, 0.418);
}

.l2 {
    border: 1px solid;
    border-color: turquoise;
    border-radius: 20px;
    background-color: rgba(39, 41, 36, 0.418);
}

.l3 {
    border: 1px solid;
    border-color: turquoise;
    border-radius: 20px;
    background-color: rgba(39, 41, 36, 0.418);
}

/* Contacting */

h3 {
    font-family: 'Croissant One', serif;
    font-family: 'Edu TAS Beginner', cursive;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Iceberg', sans-serif;
    font-family: 'Kite One', sans-serif;
    font-family: 'Lilita One', sans-serif;
    font-family: 'Mina', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playpen Sans', cursive;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.contact {
    font-family: 'Edu TAS Beginner', cursive;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Iceberg', sans-serif;
    font-family: 'Kite One', sans-serif;
    font-family: 'Lilita One', sans-serif;
    font-family: 'Mina', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playpen Sans', cursive;
    font-family: 'Racing Sans One', sans-serif;
    font-size: 1.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
    text-decoration: underline;
}

