/* Overall P/M */

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(13,13,13);
}

/* Top and left and menu grids */

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 18% 82%;
    grid-template-rows: 730px 25px;
}

.search {
    background-color: yellowgreen;
}

.you {
    background-color: red;
    grid-area: 1 / 1 / 3 /-3;
}

.menu {
    background-color: whitesmoke;
}