@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

/* adjusting the size of the page */

* {
    padding: 0;
    margin: 0;
}

/* body */

body {
    background: linear-gradient(45deg, rgba(255, 0, 0, 1), rgb(0,255,0,0.70));
}

/* control panel */

.container-box {
    color: white;
    width: 236px;
    height: 730px;
    background-color: rgb(23, 23, 23);
}

/* buttons */

a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
}

.button1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 230px;
    margin: auto;
    border-radius: 8px;
    margin-bottom: 1px;
}

.button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 230px;
    margin: auto;
    border-radius: 8px;
    margin-bottom: 0.5px;
}

.button3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 230px;
    margin: auto;
    border-radius: 8px;
}

h5 {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 3px;
    font-family: 'Poppins', sans-serif;
}

.button1:hover {
    height: 40px;
    width: 230px;
    background-color: rgb(37, 37, 37);
}

.button2:hover {
    height: 40px;
    width: 230px;
    background-color: rgb(37, 37, 37);
}

.button3:hover {
    height: 40px;
    width: 230px;
    background-color: rgb(37, 37, 37);
}

/* */

.youtube {
    font-size: 1.3em;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', Arial, sans-serif;
}

/* symbols */

.material-symbols-outlined {
    display: flex;
    margin-right: 100px;
    margin-bottom: 5px;
}

.three {
    margin-left: 48px;
}



/* hr */

hr {
    margin: 10px auto;
    width: 225px;
    height: 1px;
    color: antiquewhite;
    border-top-color: rgb(23, 23, 23);
    border-left-color: rgb(23, 23, 23);
    border-right-color: rgb(23, 23, 23);
}

/* second section */

.second-section {
    display: flex;
    margin-left: 20px;
}

.you {
    margin-left: 10px;
    margin-top: 3px;
}