@import url('https://fonts.googleapis.com/css2?family=Julee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Thasadith:wght@700&display=swap');


/* */

* {
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(90deg, rgb(100,100,100), rgb(40,40,40));
    height: 730px;
    position: relative;
}

/* */

.container {
    font-size: 1.3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: rgb(25, 25, 25);
    box-shadow: 0 2px 3px 0 black;
}

.logo {
    font-family: 'Thasadith', sans-serif;
    color: white;
    user-select: none;
    font-size: 2em;
    margin-left: 50px;
}

.about {
    margin-left: -950px;
    margin-right: 90px;
}

/* */
a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 60px;
    position: relative;
    font-family: 'Julee', cursive;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* Hovers */

.home:hover {
    border-radius: 7px;
    background: linear-gradient(180deg, rgb(25,25,25),rgb(100,100,100), rgb(25,25,25));
}

.about:hover {
    border-radius: 7px;
    background: linear-gradient(180deg, rgb(25,25,25),rgb(100,100,100), rgb(25,25,25));
}

/* Login form */

.login-form {
    box-shadow:  
        inset 0 0 8px 0 rgb(0, 255, 255),
       0 0 20px 0 rgb(0, 255, 255);
    border: 2px solid rgb(0, 255, 255);
    border-radius: 15px;
    margin: 55px auto;
    width: 550px;
    height: 550px;
    background: linear-gradient(90deg, rgba(20,20,20,0.3), rgba(80,80,80,0.3));
}

.login {
    color: white;
    padding: 200px;
}

/* designs of inputs */

.email, .password {
    padding: 15px 40px;
}

.sign {
    margin-top: 25px;
    padding: 5px;
    width: 100px;
    margin-left: 45px;
}
