* {
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(90deg, rgb(100,100,100), rgb(40,40,40));
}

body:focus {
    background: linear-gradient(90deg,rgb(40,40,40),  rgb(100,100,100));
    transition: all ease-in-out 200ms;
}

/* */

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.container {
    font-size: 1.3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: rgb(25, 25, 25);
}


.logo {
    font-size: 2em;
    margin-left: 50px;
}

.about {
    margin-left: -950px;
    margin-right: 90px;
}