* {
    padding: 0;
    margin: 0;
}

p {
    padding: 10px;
}

.grid-container {
    border: 1px solid;
    height: 80%;
    width: 80%;
    margin: 50px auto;
}

.grid-container2 {
    display: flex;
}

.grid-container3 {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: auto;
}