@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(9, 30, 30);
}

.frame {
    
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: rgb(0, 0, 0);
    width: 300px;
    height: 450px;
    overflow: hidden;
}

.frame::before {
    content: '';
    border-radius: 0.5rem;
    position: absolute;
    margin: auto;
    width: 280px;
    height: 430px;
    background-color: rgb(9, 30, 30);
    z-index: 1;
}

.frame::after {
    content: '';
    position: absolute;
    margin: auto;
    width: 550px;
    height: 700px;
    background: linear-gradient(90deg, red,orange,blue,yellow);
    animation: spin 5s linear infinite;
}

@keyframes spin {
    100%{transform: rotate(360deg);}
}

h1 {
    font-family: 'Nova Square', sans-serif;
    z-index: 2;
    font-size: 4em;
    color: white;
}

.frame:hover {
    font-size: 1.1em;
    width: 320px;
    height: 470px;
    transition: all ease-in-out 300ms;
}

.frame:hover::before {
    width: 300px;
    height: 450px;
    transition: all ease-in-out 300ms;
}