@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');


* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(100,100,100);
    display: flex;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 400px;
    height: 600px;
    background-color: white;
    border-radius: 1rem;
}

.text {
    border-radius: 1rem;
    width: 380px;
    height: 580px;
    z-index: 1;
    font-size: 3rem;
    font-family: 'Nova Square', sans-serif;
    background: linear-gradient(90deg, rgb(200,200,200), rgb(255,255,255), rgb(200,200,200));
}


